{% include base_path %}

<ul class="share-list">
  <li>
    <a class="share-list__link" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ base_path }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Twitter">
      <div data-icon="ei-sc-twitter" data-size="s" class="share-list__icon share-list__icon--twitter"></div>
    </a>
  </li>
  <li>
    <a class="share-list__link" href="https://facebook.com/sharer.php?u={{ base_path }}{{ page.url }}" rel="nofollow" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on Facebook">
    <div data-icon="ei-sc-facebook" data-size="s" class="share-list__icon share-list__icon--facebook"></div>
    </a>
  </li>
  <li>
    <a class="share-list__link" href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url | uri_escape}}&title={{ page.title | default:"" | uri_escape}}" rel="nofollow" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="Share on LinkedIn">
    <div data-icon="ei-sc-linkedin" data-size="s" class="share-list__icon share-list__icon--linkedin"></div>
    </a>
  </li>
</ul>